h1 {
    color: black;
    background-color: gray;
    text-align: center;
}

.questions {
    background-color: gray;
    display: inline-block;
    margin-right: 30px;
}

.graybox {
    max-width: 500px;
    width: 400px;
    height: 300px;
    position: absolute;
    right: 10%;
    top: 15%;
}

.btn1 {
    position: absolute;
    right: 5%;
    max-width: 100%;
    width: 10%;
    margin-top: 350px;
    padding: 30px;
    top: 15%;
}

main {
    max-width: 100%;
    width: 50%;
}

.titlebutton {
    position: absolute;
    right: 40%;
    top: 50%;
    padding: 30px 100px;
    background-color: darkgray;
    border: 2px solid gray;
}

.titlebox {
    right: 34%;
    border-radius: 60%;
}

.titleh {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}