:root {
    background-color: #ecf5ff;
    font-size: 62.5%;
  }

* {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1,
h2 {
    color: teal;
    text-align: center;
    max-width: 100%;
    margin-bottom: 30px;
    margin-top: 10rem;
    font-size: 4rem;
}

.btn1 {
    padding: 20px;
    border: 1px solid teal;
    text-decoration: none;
    font-size: 2rem;
    color: teal;
}
.graybox {
    max-width: 500px;
    width: 400px;
    height: 300px;
    margin-bottom: 50px;
    border-radius: 60%;
}